
.rpbcalendar-color-caption {
	height: 36px;
	width : 36px;
	float: left;
	margin-right: 5px;
	-moz-border-radius   : 5px;
	-khtml-border-radius : 5px;
	-webkit-border-radius: 5px;
	border-radius        : 5px;
}

.rpbcalendar-category-preview {
	border: 1px solid;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	-moz-border-radius   : 5px;
	-khtml-border-radius : 5px;
	-webkit-border-radius: 5px;
	border-radius        : 5px;
}
