
table.rpbcalendar-table {
	border-collapse: collapse;
	-moz-box-shadow   : 1px 1px 1px #555;
	-webkit-box-shadow: 1px 1px 1px #555;
	box-shadow        : 1px 1px 1px #555;
}

table.rpbcalendar-table td {
	padding: 0px !important;
	font-size: 7pt;
	height: 80px;
	border: 1px solid #404040;
	background-color: #e8e8e8;
	color           : #404040;
}

table.rpbcalendar-table th {
	font-weight: normal;
	text-align : center;
	background-color: #404040;
	color           : #e8e8e8;
}

table.rpbcalendar-table th.rpbcalendar-month-header {
	font-weight: bold;
}

table.rpbcalendar-table div.rpbcalendar-next-month {
	float: right;
	margin-right: 50px;
	font-weight: normal;
}

table.rpbcalendar-table div.rpbcalendar-previous-month {
	float: left;
	margin-left: 50px;
	font-weight: normal;
}

table.rpbcalendar-table th.rpbcalendar-weekend-day-header {
	width: 20%;
}

table.rpbcalendar-table th.rpbcalendar-normal-day-header {
	width: 12%;
}

table.rpbcalendar-table td.rpbcalendar-phantom-cell {
	background-color: #808080;
}

table.rpbcalendar-table td.rpbcalendar-weekend-day-cell {
	width: 20%;
	background-color: #f0e0c0;
}

table.rpbcalendar-table td.rpbcalendar-highday {
	background-color: #f0e0c0;
}

table.rpbcalendar-table td.rpbcalendar-normal-day-cell {
	width: 12%;
}

table.rpbcalendar-table td.rpbcalendar-holiday div.rpbcalendar-cell-bar {
	background-color: #d2691e;
	background-color: #e0a020;
}

table.rpbcalendar-table div.rpbcalendar-day-label {
	width: 20px;
	font-weight: bold;
	text-align : center;
	background-color: #e8e8e8;
	border-right : 1px solid #404040;
	border-bottom: 1px solid #404040;
}

table.rpbcalendar-table td.rpbcalendar-weekend-day-cell div.rpbcalendar-day-label,
table.rpbcalendar-table td.rpbcalendar-highday          div.rpbcalendar-day-label {
	background-color: #404040;
	color           : #e8e8e8;
}

table.rpbcalendar-table div.rpbcalendar-cell-content {
	padding: 1px;
}
