
.cpYearNavigation, .cpMonthNavigation {
	background-color: #C0C0C0;
	color: #000000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.cpDayColumnHeader,
.cpYearNavigation,
.cpMonthNavigation,
.cpCurrentMonthDate,
.cpCurrentMonthDateDisabled,
.cpOtherMonthDate,
.cpOtherMonthDateDisabled,
.cpCurrentDate,
.cpCurrentDateDisabled,
.cpTodayText,
.cpTodayTextDisabled,
.cpText {
	font-family: arial;
	font-size: 8pt;
}

td.cpDayColumnHeader {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 0 0 1px;
	text-align: right;
}

.cpCurrentMonthDate, .cpOtherMonthDate, .cpCurrentDate {
	text-align: right;
	text-decoration: none;
}

.cpCurrentMonthDateDisabled, .cpOtherMonthDateDisabled, .cpCurrentDateDisabled {
	color: #D0D0D0;
	text-align: right;
	text-decoration: line-through;
}

.cpCurrentMonthDate, .cpCurrentDate {
	color: #000000;
}

.cpOtherMonthDate {
	color: #808080;
}

td.cpCurrentDate {
	background-color: #C0C0C0;
	border: thin solid #800000;
	color: white;
}

td.cpCurrentDateDisabled {
	border: thin solid #FFAAAA;
}

td.cpTodayText, td.cpTodayTextDisabled {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 1px 0 0;
}

a.cpTodayText, span.cpTodayTextDisabled {
	height: 20px;
}

a.cpTodayText {
	color: black;
}

.cpTodayTextDisabled {
	color: #D0D0D0;
}

.cpBorder {
	border: thin solid #808080;
}
