
.rpbcalendar-error-message {
	padding-left  : 3px;
	padding-right : 3px;
	padding-top   : 1px;
	padding-bottom: 1px;
	background-color: #ffe0e0;
	border: 1px solid #c00000;
	margin-bottom: 3px;
}

.rpbcalendar-very-large-content {
	overflow: auto !important;
	-moz-box-shadow   : 1px 1px 1px #555;
	-webkit-box-shadow: 1px 1px 1px #555;
	box-shadow        : 1px 1px 1px #555;
}
