
/******************************************************************************/
/*** Miscellaneous classes ***/

.rpbcalendar-error-message {
	padding-left  : 3px;
	padding-right : 3px;
	padding-top   : 1px;
	padding-bottom: 1px;
	background-color: #ffe0e0;
	border: 1px solid #c00000;
	margin-bottom: 3px;
}

.rpbcalendar-category {
	border: 1px solid;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	-moz-border-radius   : 5px;
	-khtml-border-radius : 5px;
	-webkit-border-radius: 5px;
	border-radius        : 5px;
	margin-top   : 2px;
	margin-bottom: 2px;
	max-width: 200px;
}

.rpbcalendar-default-category {
	background-color: #ffffd0;
	color           : #404040;
}



/******************************************************************************/
/*** Upcoming events widget ***/

.rpbcalendar-upcoming-period {
	margin-top: 5px;
}

.rpbcalendar-upcoming-period + .rpbcalendar-upcoming-period {
	margin-top: 10px;
}

.rpbcalendar-upcoming-period-title {
	font-weight: bold;
	border-bottom: solid 1px #c0c0c0;
}

.rpbcalendar-upcoming-period-content {
	margin-left: 10px;
	border-left: solid 1px #c0c0c0;
	padding-left: 2px;
	padding-top : 1px;
}



/******************************************************************************/
/*** Print form ***/

#rpbcalendar-printer-form {
	float: right;
	margin-top: 5px;
}

#rpbcalendar-printer-form input,
#rpbcalendar-printer-form select,
#rpbcalendar-printer-form span {
	margin-left : 5px;
}

#rpbcalendar-printer-form input[name="firstyear"],
#rpbcalendar-printer-form input[name="lastyear"] {
	width: 60px;
}

#rpbcalendar-after-printer-form {
	clear: both;
}



/******************************************************************************/
/*** Search form ***/

#rpbcalendar-searchevent-form {
	float: right;
	margin-top: 5px;
}

#rpbcalendar-searchevent-form input {
	margin-left: 5px;
}

#rpbcalendar-after-searchevent-form {
	clear: both;
}



/******************************************************************************/
/*** Navigation bar ***/

#rpbcalendar-navigation-bar {
	width: 100%;
}

#rpbcalendar-navigation-bar div {
	float: left;
	margin-bottom: 5px;
}

#rpbcalendar-navigation-bar div#rpbcalendar-changedate-form {
	float: right;
}

#rpbcalendar-navigation-bar div#rpbcalendar-changedate-form input {
	margin-left: 5px;
}

#rpbcalendar-navigation-bar div#rpbcalendar-changedate-form input[name="rpbyear"] {
	width: 60px;
}



/******************************************************************************/
/*** Calendar table ***/

#rpbcalendar-calendar {
	clear: both;
	overflow: auto !important;
	box-shadow: 0 0 2px #000;
}

#rpbcalendar-calendar table {
	border-collapse: collapse;
	width: 100%;
}

#rpbcalendar-calendar td {
	padding: 0px;
	font-size: 7pt;
	height: 80px;
	border: 1px solid #404040;
	background-color: #e8e8e8;
	color           : #404040;
}

#rpbcalendar-calendar th {
	font-weight   : normal;
	text-align    : center;
	text-transform: capitalize;
	border: 1px solid #404040;
	background-color: #404040;
	color           : #e8e8e8;
}

#rpbcalendar-calendar th.rpbcalendar-month-header {
	font-weight: bold;
}

#rpbcalendar-calendar th.rpbcalendar-weekend-day-header {
	width: 20%;
}

#rpbcalendar-calendar th.rpbcalendar-normal-day-header {
	width: 12%;
}

#rpbcalendar-calendar td {
	vertical-align: top;
}

#rpbcalendar-calendar td.rpbcalendar-phantom-cell {
	background-color: #808080;
}

#rpbcalendar-calendar td.rpbcalendar-normal-day-cell {
	width: 12%;
}

#rpbcalendar-calendar td.rpbcalendar-weekend-day-cell {
	width: 20%;
	background-color: #f4e8cc;
}

#rpbcalendar-calendar td.rpbcalendar-highday {
	background-color: #f4e8cc;
}

#rpbcalendar-calendar div.rpbcalendar-cell-bar {
	height: 10px;
}

#rpbcalendar-calendar td.rpbcalendar-holiday div.rpbcalendar-cell-bar {
	background-color: #60d020;
}

#rpbcalendar-calendar div.rpbcalendar-day-label {
	float: left;
	width : 22px;
	padding-top   : 1px;
	padding-bottom: 2px;
	padding-right : 1px;
	font-weight: bold;
	text-align : center;
	background-color: #e8e8e8;
	border-right : 1px solid #404040;
	border-bottom: 1px solid #404040;
	-moz-border-radius-bottomright    : 8px;
	-khtml-border-bottom-right-radius : 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius        : 8px;
}

#rpbcalendar-calendar td.rpbcalendar-weekend-day-cell div.rpbcalendar-day-label,
#rpbcalendar-calendar td.rpbcalendar-highday          div.rpbcalendar-day-label {
	background-color: #404040;
	color           : #e8e8e8;
}

#rpbcalendar-calendar div.rpbcalendar-cell-content {
	padding: 1px;
	clear: both;
}



/******************************************************************************/
/*** Event boxes ***/

a.rpbcalendar-event,
a.rpbcalendar-event:hover,
a.rpbcalendar-event:visited {
	color: inherit;
	text-decoration: none;
}

a.rpbcalendar-event .rpbcalendar-event-tooltip {
	display: none;
}

a.rpbcalendar-event:hover .rpbcalendar-event-tooltip {
	display    : block;
	position   : absolute;
	z-index    : 100;
	margin-top :  5px;
	margin-left: 12px;
}

.rpbcalendar-event-summary {
	margin: 1px;
	padding-left : 1px;
	padding-right: 1px;
	border: 1px solid;
	-moz-border-radius   : 3px;
	-khtml-border-radius : 3px;
	-webkit-border-radius: 3px;
	border-radius        : 3px;
}

.rpbcalendar-event-tooltip {
	font-size: 9pt;
	padding: 3px 5px 4px;
	min-width: 100px;
	border: 1px solid;
	box-shadow: 0 0 2px #000;
	-moz-border-radius   : 5px;
	-khtml-border-radius : 5px;
	-webkit-border-radius: 5px;
	border-radius        : 5px;
}

.rpbcalendar-event-title {
	font-weight: bold;
}

.rpbcalendar-event-time {
	font-weight: normal;
}

.rpbcalendar-event-summary .rpbcalendar-event-title {
	text-align : left;
}

.rpbcalendar-event-tooltip .rpbcalendar-event-title {
	text-align : center;
}

.rpbcalendar-event-tooltip hr {
	color : inherit;
	border: 1px solid;
	height: 0px;
}

.rpbcalendar-event-tooltip .rpbcalendar-event-author {
	font-size : 7pt;
	font-style: italic;
	margin-bottom: 4px;
}
